body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    background-color: rgb(46, 0, 0);
    align-items: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgb(27, 0, 0);;
    color: white;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.burger {
    display: none;
    cursor: pointer;
}


@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background: #333;
        width: 100%;
        top: 50px;
        left: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: block;
    }
}

